@import "tailwindcss";




.ui-btn {
  position: relative;
  box-sizing: border-box;
}

.glitch-span {
  position: absolute;
  inset: 0;
  background: inherit;
  box-sizing: border-box;
  display: inline-block;
}

.group:hover .glitch-span {
  animation: chitchat 1.2s linear both;
}

@keyframes chitchat {
  0%    { content: "#"; }
  5%    { content: "."; }
  10%   { content: "^{"; }
  15%   { content: "-!"; }
  20%   { content: "#$_"; }
  25%   { content: "№:0"; }
  30%   { content: "#{+."; }
  35%   { content: "@}-?"; }
  40%   { content: "?{4@%"; }
  45%   { content: "=.,^!"; }
  50%   { content: "?2@%"; }
  55%   { content: "\\;1}]"; }
  60%   { content: "?{%:%"; right: 0; }
  65%   { content: "|{f[4"; right: 0; }
  70%   { content: "{4%0%"; right: 0; }
  75%   { content: "'1_0<"; right: 0; }
  80%   { content: "{0%"; right: 0; }
  85%   { content: "]>'"; right: 0; }
  90%   { content: "4"; right: 0; }
  95%   { content: "2"; right: 0; }
  100%  { content: ""; right: 0; }
}
